.helpcard-code {
  width: 80%;
}

.help-card {
  padding: 15px;
  border-bottom: 2px solid rgb(220, 222, 236);
}

.help-name {
  border-radius: 2px;
  background: #333333;
  color: white;
  padding: 3px;  
}

.help-card * {
  margin: 7px 0 7px 0;
}

.help-cards-header {
  padding-bottom: 20px !important;
}

.help-card .code {
  border-radius: 2px;
  font-weight: 500;
  padding: 5px;
}

.help-card .code.code-usage {
  background: rgb(220, 222, 236);
  line-height: 1.3;
  color: #6200ee;  
  font-size: 12px;
}

.help-card .code.code-returns {
  font-weight: 800;
  background: rgb(220, 222, 236);
  color: #333333;
  font-size: 15;
}