
.header {
  text-align: center;
  line-height: 5vh;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  min-height: 50px;
  z-index: 99;
  padding: 0 10px 0 10px;
  box-shadow: 0px -15px 20px 20px rgb(32, 32, 32);
  position: relative;
  background: #333333;
  font-family: monospace;
  color: white;
}

.login {
  margin: 0 10px 0 10px;
  margin-left: auto;
}

.codegen {
  color: white;
}

/* .btn {
  border-radius: 2px;
  font-weight: 500;
  background: #333333;
  font-family: sans-serif;
  color: #3a8fff;
  cursor: pointer;
  border: none;
  outline: none;
  height: 4vh;
} */

.logout {
  margin: 0 10px 0 10px;
  margin-left: auto;
}
