
.header {
  text-align: center;
  line-height: 5vh;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 5vh;
  z-index: 99;
  box-shadow: 15px 15px 25px rgb(32, 32, 32);
  position: relative;
  background: #333333;
  font-family: monospace;
  color: white;
}

.btn {
  border-radius: 2px;
  font-weight: 500;
  background: #333333;
  font-family: sans-serif;
  color: #3a8fff;
  cursor: pointer;
  border: none;
  outline: none;
  height: 4vh;
}
